struct Config {
    // Create a personal access token by opening Figma > Help and account > Account settings
    // and scrolling to Personal access tokens.
    static let figmaToken: String = "<fill me in>"
}
