<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJmaWdtYWtp
		dCIsImxvY2F0aW9uIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2p2ZXJrb2V5
		XC9GaWdtYUtpdCIsInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4wLjQwIiwidXBwZXJCb3Vu
		ZCI6IjEuMC4wIn1dfX1dfV0sIm5hbWUiOiJEYXlkcmVhbWVyIiwicGFja2Fn
		ZUtpbmQiOiJyb290IiwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxh
		dGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE1LjIifV0sInByb2R1Y3Rz
		IjpbeyJuYW1lIjoiRGF5ZHJlYW1lciIsInNldHRpbmdzIjpbeyJkaXNwbGF5
		VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJp
		T1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvckFzc2V0TmFtZSI6IkFjY2VudENv
		bG9yIiwiY2FwYWJpbGl0aWVzIjpbeyJhcHBUcmFuc3BvcnRTZWN1cml0eUNv
		bmZpZ3VyYXRpb24iOnsiZXhjZXB0aW9uRG9tYWlucyI6W3siZG9tYWluTmFt
		ZSI6ImZvbnRzLmdzdGF0aWMuY29tIiwiZXhjZXB0aW9uQWxsb3dzSW5zZWN1
		cmVIVFRQTG9hZHMiOnRydWUsImluY2x1ZGVzU3ViZG9tYWlucyI6dHJ1ZX1d
		fSwicHVycG9zZSI6ImFwcFRyYW5zcG9ydFNlY3VyaXR5In1dLCJpY29uQXNz
		ZXROYW1lIjoiQXBwSWNvbiIsInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpb
		InBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9u
		cyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJs
		YW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29u
		ZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRh
		cmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVs
		bH19XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMi
		Olt7InByb2R1Y3QiOlsiRmlnbWFLaXQiLCJGaWdtYUtpdCIsbnVsbF19XSwi
		ZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJl
		c291cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUi
		fX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJG
		aWdtYUtpdCIsIkZpZ21hS2l0IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0
		dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9u
		Ijp7Il92ZXJzaW9uIjoiNS41LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		bQJRnBs7pGKO70PP+8prBb/kK6OC08MAdNfWKZqICrg=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
